/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-italic - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v15-latin-italic.woff2") format("woff2"), url("../fonts/ubuntu-v15-latin-italic.woff") format("woff");
}

/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2"), url("../fonts/ubuntu-v15-latin-700.woff") format("woff");
}

/* ubuntu-700italic - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu-v15-latin-700italic.woff2") format("woff2"), url("../fonts/ubuntu-v15-latin-700italic.woff") format("woff");
}

/* cinzel-decorative-regular - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/cinzel-decorative-v9-latin-regular.woff2") format("woff2"), url("../fonts/cinzel-decorative-v9-latin-regular.woff") format("woff");
}

/* cinzel-decorative-700 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/cinzel-decorative-v9-latin-700.woff2") format("woff2"), url("../fonts/cinzel-decorative-v9-latin-700.woff") format("woff");
}

/* cinzel-decorative-900 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/cinzel-decorative-v9-latin-900.woff2") format("woff2"), url("../fonts/cinzel-decorative-v9-latin-900.woff") format("woff");
}

*,
::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: Min(95%, 1200px);
  margin-bottom: 4rem;
  font-family: "Cinzel Decorative", serif;
  color: #aaa;
}

.header h1 {
  text-align: center;
}

.wrapper {
  width: Min(95%, 1200px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.italica {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 900;
}

.bold-italica {
  font-weight: 700;
  font-style: italic;
}
/*# sourceMappingURL=estilos.css.map */