/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-italic - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v15-latin-italic.woff2") format("woff2"),
    url("../fonts/ubuntu-v15-latin-italic.woff") format("woff");
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2"),
    url("../fonts/ubuntu-v15-latin-700.woff") format("woff");
}
/* ubuntu-700italic - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/ubuntu-v15-latin-700italic.woff2") format("woff2"),
    url("../fonts/ubuntu-v15-latin-700italic.woff") format("woff");
}

/* cinzel-decorative-regular - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/cinzel-decorative-v9-latin-regular.woff2") format("woff2"),
    url("../fonts/cinzel-decorative-v9-latin-regular.woff") format("woff");
}
/* cinzel-decorative-700 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/cinzel-decorative-v9-latin-700.woff2") format("woff2"),
    url("../fonts/cinzel-decorative-v9-latin-700.woff") format("woff");
}
/* cinzel-decorative-900 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/cinzel-decorative-v9-latin-900.woff2") format("woff2"),
    url("../fonts/cinzel-decorative-v9-latin-900.woff") format("woff");
}
