body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: Min(95%, 1200px);
  margin-bottom: 4rem;
  font-family: $fuente-display;
  color: #aaa;
  h1 {
    text-align: center;
  }
}
.wrapper {
  width: Min(95%, 1200px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}
p {
  font-family: $fuente-principal;
  font-size: 1rem;
}

.italica {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 900;
}

.bold-italica {
  font-weight: 700;
  font-style: italic;
}
